<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
      <div class="box-dark p-4 text-white">
        <h2>Susține-ne</h2>
        <p>Vot Romania este un proiect dezvoltat pro-bono de o echipă de voluntari Code for Romania. În fiecare zi, sute dintre prietenii si colegii tăi lucrează pentru a construi instrumente digitale utile pentru a ne face viața mai ușoară și pentru a aduce România mai aproape de progresul tehnologic. Ajută-ne să mergem mai departe.</p>
        <a class="btn btn-lg donate-link-button" href="https://code4.ro/ro/doneaza/" target="_blank" rel="noopener noreferrer">DONEAZĂ</a>
      </div>
    </div>
  </div>
</div>

