.search-input {
  width: 45%;
  min-width: 450px;
  margin-bottom: 80px;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-block{
  margin-bottom: 32px;

  .question{
    margin-bottom: 24px;
  }
}


@media screen and (max-width: 575px) {
  .search-input {
    width: 90%;
    min-width: 90%;
  }

  .map {
    height: 70vh;
  }
}

@media screen and (max-height: 575px) {
  .map {
    height: 70vh;
  }
}


.text-padding {
  padding-bottom: 32px;
}

.ps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ps-item {
  margin-bottom: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  max-width: 45%;
  display: block;
}

.map-wrapper {
  width: 100%;
  height: 596px;
  display: inline-block;
  position: relative;
  margin-bottom: 80px;
  .map {
    height: 596px;
    width: 100%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 575px) {
  .ps-item{
    max-width: 100%;
    margin-left: 0;

  }

  h5 {
    text-align: center;
  }
}
