.search-input {
  width: 45%;
  min-width: 450px;
  margin-bottom: 80px;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-block{
  margin-bottom: 32px;

  .question{
    margin-bottom: 24px;
  }
}

.map {
  height: 596px;
  width: 100%;
  margin-bottom: 80px;
}

@media screen and (max-width: 575px) {
  .search-input {
    width: 90%;
    min-width: 90%;
  }

  .map {
    height: 70vh;
  }
}

@media screen and (max-height: 575px) {
  .map {
    height: 70vh;
  }
}

.ps-card {
  width: 472px;

    .ps-title {
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    .ps-description {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;

      .ps-address-label {
        background: #FFCC00;
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }
    }

}

.text-padding {
  padding-bottom: 32px;
}

.ps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ps-item {
  margin-bottom: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  max-width: 45%;
  display: block;
}

@media screen and (max-width: 575px) {
  .ps-item{
    max-width: 100%;
    margin-left: 0;

  }

  h5 {
    text-align: center;
  }
}
