.search-input {
  width: 45%;
  min-width: 450px;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    margin:0;
  }
}

.map {
  height: 596px;
  width: 100%;
  margin-top: 30px;
}

@media screen and (max-width: 575px) {
  .search-input {
    width: 90%;
    min-width: 90%;
  }

  .map {
    height: 70vh;
  }
}

@media screen and (max-height: 575px) {
  .map {
    height: 70vh;
  }
}

.ps-card {
  width: 472px;

    .ps-title {
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    .ps-description {
      font-family: Titillium Web;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      
      .ps-address-label {
        background: #FFCC00;
        font-family: Titillium Web;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }
    }

}