<div class="wrapper">
  <div class="w-100 centered-items title-block">
    <h4 class="question"><b>Unde stai?</b></h4>
    <h5>Introduceți numele străzii pe care locuiți, urmat de numele orașului</h5>
  </div>
  <form>
    <div class="w-100 centered-items">
      <div class="input-group search-input">
        <input type="text" class="form-control" [formControl]="control" [matAutocomplete]="auto"
          [attr.placeholder]="searchText" [attr.aria-label]="searchText">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()"
          (optionSelected)=onSelectingSuggestion($event.option.value)>
          <mat-option *ngFor="let address of filteredAddresses | async" [value]="address">
            {{address.label}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </form>

  <div class="container" *ngIf="pollingStations">
    <p class="text-padding"><b>Dacă ești cetățean cu domiciliul în orașul în care dorești să votezi aceasta este secția
        dedicată unde poți vota:</b></p>
    <app-polling-station-card-info [pollingStation]="pollingStations[0]" [distance]="1" [lightTheme]="true"
      class="ps-item margin-bottom-80">
    </app-polling-station-card-info>

    <div class="text-padding">
      <p><b>Dacă nu ai domiciliul permanent la adresa menționată poți vota în oricare dintre secțiile din oraș. Cele mai
          apropiate secții de tine sunt:</b></p>
    </div>

    <div class="ps-list">
      <app-polling-station-card-info *ngFor="let pollingStation of pollingStations | slice:1"
        [pollingStation]="pollingStation" [lightTheme]="false" [distance]="1" class="ps-item">
      </app-polling-station-card-info>
    </div>
  </div>

  <div #map id="map" style="height: 596px;" class="map">
  </div>
</div>