.wrapper {
    align-items: center;
    padding-top: 2rem;

    .description {
        font-style: normal;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    button {
        font-size: 20px;
        border-radius: 5px;
    }

    .default {
      border-color: #352245;
      color: #352245;
    }

    .default:hover {
      background: #e7e7e7;
    }

    .options-list {
        display: flex;
        flex-wrap: wrap;

        .option {
            text-align: center;
            position: relative;
            color: #352245;
            width: 255px;
            height: 124px;
            margin: 10px;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #352245;
            overflow: hidden;

            .check-icon-container {
                width: 45px;
                height: 45px;
                background-color: #352245;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(50%) translateY(-50%) rotate(45deg);
                transition: all 0.2s ease-in-out;
                opacity: 0;
            }

            .check-icon {
                opacity: 0;
                background-image: url("../../assets/check-on.svg");
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.2s ease-in-out;
                width: 25px;
                height: 25px;
                transform: translateX(10%) translateY(-10%);
            }

            &:hover {
                border: 2px solid #ffcc00;

                .check-icon-container {
                    opacity: 1;
                }

                .check-icon {
                    opacity: 1;
                }
            }

            &:hover.is-selected {
                border: 2px solid #352245;
            }
        }

        .option.is-selected {
            background-color: #ffcc00;
            border: 2px solid #352245;

            .check-icon-container {
                opacity: 1;
            }

            .check-icon {
                opacity: 1;
            }
        }
    }

    .option-title {
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: 40px;
        color: #352245;
        margin-bottom: 40px;
    }

    .option-description {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .answer {
        font-size: 20px;
    }

    .exceptional-cases {
        p {
            font-size: 18px;
        }
    }
    .guide-buttons {
        display: flex;
        justify-content: space-evenly;
    }
}
