<ng-container *ngIf="data">
  <div class="container wrapper">
    <h2 class="mat-subheading-2" tabindex="0">
      {{currentSentence$ | async}}
    </h2>
    <ng-container *ngIf="isBeyondInitialQuestion$ | async">
      <section>
        <button (click)="back()" class="btn btn-secondary">Inapoi</button>
        <button (click)="startOver()" class="btn btn-danger">Incepe din nou</button>
      </section>
    </ng-container>

    <div class="options-list">
      <ng-container *ngFor="let option of options$ | async">
        <ng-container *ngIf="option.options; else votingOptionTemplate">
          <div class="option cursor-pointer" (click)="selectOption(option.id, $event)" [@flyIn]>
            <span [innerHtml]="option.label"></span>
            <div class="check-icon-container"></div>
            <span class="check-icon"></span>
          </div>
        </ng-container>

        <ng-template #votingOptionTemplate>
          <div *ngIf="option.votersOptionId" class="mat-body-1">
            <div class="option-title" [innerHTML]="data.options[option.votersOptionId].title" #targetElement></div>
            <div class="text-left option-description" [innerHTML]="data.options[option.votersOptionId].description">
            </div>
          </div>
          <p *ngIf="option.text">{{ option.text }}</p>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-container>
