<div class="container pt-4">
    <h5 class="red mb-5">Don't forget to save your changes!</h5>

    <div class="pb-4 border-bottom">
        <div class="d-flex justify-content-between mt-4">
            <p>General info</p>

            <div>
                <button class="btn btn-outline-secondary"
                        type="button" (click)="editing['generalInfo'] = !editing['generalInfo']">
                    {{ editing['generalInfo'] ? 'Preview' : 'Edit' }}
                </button>
            </div>
        </div>

        <ng-container *ngIf="editing['generalInfo']">
            <angular-editor id='generalInfo'
                            placeholder='Enter text here...'
                            [(ngModel)]="generalInfo"
                            [config]="editorConfig">
            </angular-editor>
        </ng-container>

        <div *ngIf="!editing['generalInfo']" [innerHTML]="generalInfo"></div>
    </div>

    <div class="pb-4 border-bottom">
        <div class="d-flex justify-content-between mt-4">
            <p>Voter's guide</p>

            <div class="d-flex align-items-center">
                <button class="btn btn-outline-success mr-2"
                        type="button" (click)="editing['votersGuideOption'] = !editing['votersGuideOption']; openNewVotersGuideOption()">
                    New option
                </button>
                <button class="btn btn-outline-secondary"
                        type="button" (click)="editing['votersGuide'] = !editing['votersGuide'];">
                    {{ editing['votersGuide'] ? 'Preview' : 'Edit' }}
                </button>
            </div>
        </div>

        <ng-container *ngIf="editing['votersGuide']">
            <angular-editor id='votersGuide'
                            placeholder='Enter text here...'
                            [(ngModel)]="votersGuide.description"
                            [config]="editorConfig">
            </angular-editor>
        </ng-container>

        <div *ngIf="!editing['votersGuide']" [innerHTML]="votersGuide.description"></div>
    </div>

    <ng-container *ngFor="let option of votersGuide.options; let idx = index;">
        <div class="pb-4 border-bottom">
            <div class="d-flex justify-content-between mt-4">
                <p>Option {{idx + 1}} title</p>

                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-danger mr-2"
                            type="button" (click)="deleting['option'+idx+'title'] = !deleting['option'+idx+'title']; editing['option'+idx+'title'] = false;">
                        Delete
                    </button>
                    <button class="btn btn-outline-secondary"
                            type="button" (click)="editing['option'+idx+'title'] = !editing['option'+idx+'title']; deleting['option'+idx+'title'] = false;">
                        {{ editing['option' + idx + 'title'] ? 'Preview' : 'Edit' }}
                    </button>
                </div>
            </div>

            <div *ngIf="deleting['option'+idx+'title']" class="d-flex justify-content-between mt-4">
                <h5 class="red">Are you sure you want to delete this record?</h5>

                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-danger mr-2"
                            type="button" (click)="deleteVotersGuideOption(idx); deleting['option'+idx+'title'] = false;">
                        Yes
                    </button>
                    <button class="btn btn-outline-secondary"
                            type="button" (click)="deleting['option'+idx+'title'] = !deleting['option'+idx+'title']">
                        No
                    </button>
                </div>
            </div>

            <ng-container *ngIf="editing['option'+idx+'title']">
                <angular-editor [id]="'option'+idx+'title'"
                                placeholder='Enter text here...'
                                [(ngModel)]="option.title"
                                [config]="editorConfig">
                </angular-editor>
            </ng-container>

            <div *ngIf="!editing['option'+idx+'title']" [innerHTML]="option.title"></div>
        </div>

        <div class="pb-4 border-bottom">
            <div class="d-flex justify-content-between mt-4">
                <p>Option {{idx + 1}} description</p>

                <div>
                    <button class="btn btn-outline-secondary"
                            type="button"
                            (click)="editing['option'+idx+'description'] = !editing['option'+idx+'description']">
                        {{ editing['option' + idx + 'description'] ? 'Preview' : 'Edit' }}
                    </button>
                </div>
            </div>

            <ng-container *ngIf="editing['option'+idx+'description']">
                <angular-editor [id]="'option'+idx+'description'"
                                placeholder='Enter text here...'
                                [(ngModel)]="option.description"
                                [config]="editorConfig">
                </angular-editor>
            </ng-container>

            <div *ngIf="!editing['option'+idx+'description']" [innerHTML]="option.description"></div>
        </div>
    </ng-container>


    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary"
                type="button" (click)="save()">
            Save
        </button>
    </div>

    <div class="error">{{ error }}</div>
</div>
