<app-general-info></app-general-info>
<div class="container">
    <h1 class="title"><b>Despre proiect</b></h1>
    <div class="about">
        <p>Vot România este o platformă care simplifică pe înțelesul cetățenilor ghidul electoral al alegerilor locale,
            care vor avea loc la finalul lunii septembrie 2020. Vot România este cel de-al patrulea proiect pe care Code
            for Romania îl realizează pentru a facilita accesul cetățenilor la informație și a ajuta la o mai mare
            transparență a procesului electoral.
        </p>

        <p>
            Accesând <a href="https://votromania.ro">votromania.ro</a>, toți cetățenii vor putea să verifice, alături de
            documentele și procedurile necesare
            pentru a vota și care este secția la care sunt arondați în funcție de statutul fiecăruia. Website-ul va fi
            disponibil cu informații actualizate la fiecare nouă rundă electorală. Conținutul prezent pe platforma Vot
            România este realizat în parteneriat cu experții electorali ai Observatorului Electoral.
        </p>

        <p>
            Vot România face parte din ecosistemul electoral dezvoltat de voluntarii Code for Romania, fiind cea de-a
            patra aplicație dedicată procesului electoral din țara noastră. Monitorizare Vot este aplicația web și
            mobilă dedicată observatorilor electorali independenți - prima aplicație de monitorizare electorală din
            România, fiind și cea mai utilizată de acest tip la nivel global. Lansată în 2016 aceasta a fost folosită la
            toate rundele electorale din ultimii patru ani și a fost preluată inclusiv în Polonia, în 2018, în cadrul
            primelor alegeri monitorizate independent în statul polonez. A doua aplicație din ecosistem este Vot
            Diaspora, o aplicație web destinată românilor de peste hotare pentru a le oferi sprijin pe durata alegerilor
            pentru a descoperi unde pot vota și de ce documente au nevoie sau ce proceduri trebuie să parcurgă pentru a
            vota. La alegerile Europarlamentare din 2019, aplicația a fost utilizată de 25% din totalul alegătorilor din
            diaspora, iar la ultima rundă a alegerilor prezidențiale, 185.000 alegători s-au informat prin
            <a href="https://votdiaspora.ro">votdiaspora.ro</a>. A treia soluție este Rezultate Vot, website lansat în
            2019 cu ocazia alegerilor
            europarlamentare - o platformă care arată în timp real prezența la vot și rezultatele alegerilor. Din anul
            2020 platforma va cuprinde și întregul istoric electoral post-decembrist și alte funcționalități în premieră
            pentru România, fiind nu doar locul unde vor putea fi aflate cel mai rapid și ușor rezultatele alegerilor,
            ci și un bun instrument de analiză comparativă a datelor.
        </p>
        <p>
            Toate aplicațiile din ecosistemul dedicat alegerilor sunt dezvoltate pro bono de către voluntarii Code for
            Romania în cadrul Civic Labs, unul dintre programele prin care asociația proiectează soluții de tehnologie
            civică pentru probleme din șase domenii-cheie pentru societatea românească - educație, sănătate, mediu,
            grupuri vulnerabile, transparență și implicare civică.
        </p>
        <p>
            Code for Romania este o organizație non-profit care dezvoltă pro bono soluții digitale pentru a rezolva probleme sociale. Înființată în anul 2016, Code for Romania a ajuns în prezent la o comunitate de peste 1700 de voluntari din sectorul IT care au dezvoltat zeci de aplicații web și mobile pentru România, precum cele din ecosistemul Covid-19, <a  href="https://stirioficiale.ro">știrioficiale.ro</a>, <a href="https://rohelp.ro">rohelp.ro</a>, <a href="https://redirectioneaza.ro">redirectioneaza.ro</a> și altele.
        </p>
    </div>
    <hr />
    <div class="contributors">
        <div class="contributor">
            <p>soluție proiectata în:</p>
            <img src="../../assets/civic_labs.svg" alt="Civic Labs" />
        </div>
        <div class="contributor">
            <p>dezvoltată pro-bono de:</p>
            <img src="../../assets/code4Romania.svg" alt="Code4Romania" />
        </div>
        <div class="contributor">
            <p>in parteneriat cu:</p>
            <img src="../../assets/observator.png" alt="Observator" />
        </div>
    </div>
    <hr />
</div>
<div class="margin-bottom-80"></div>
<app-share-card></app-share-card>
<app-donate-card></app-donate-card>