.progress {
    margin-top: auto;
    height: 0.5rem !important;
    width: 100%;
}
.new-job {
    background: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border: 2px dashed rgb(222, 226, 221);
    border-radius: 5px;
    width: 100%;
}
