<div class="h-100 box"
     [class.box-light]="lightTheme"
     [class.box-dark]="!lightTheme">
  <div class="d-flex justify-content-between">
    <p>{{'pollingStationCard.distance' | translate }} {{distance | formatDistance}}</p>
    <a class="btn btn-link cursor-pointer"
       (click)="isCollapsed = !isCollapsed"
       [attr.aria-expanded]="!isCollapsed"
       aria-controls="collapsedStreets">
       {{'pollingStationCard.seeStreets' | translate }}<span class="fas ml-1"
            [class.fa-angle-down]="isCollapsed"
            [class.fa-angle-up]="!isCollapsed">
      </span>
    </a>
  </div>

  <h3>{{'pollingStationCard.pollingStationNumber' | translate }} {{pollingStation.pollingStationNumber}}, {{pollingStation.county}}</h3>
  <div class="address"><span class="badge mr-1">{{'pollingStationCard.address' | translate }}</span> {{pollingStation.address}}</div>

  <div id="collapsedStreets" [collapse]="isCollapsed">
    <hr/>
    <p class="font-weight-bold">
      {{'pollingStationCard.assignedStreetsLabel' | translate }}
    </p>
    <ul>
      <li *ngFor="let address of pollingStation.assignedAddresses">{{address.street}} {{address.houseNumbers}}</li>
    </ul>
  </div>
</div>
