<div class="container">
    <h1>{{ 'cookie.title' | translate }}</h1>
    <p>{{ 'cookie.p1' | translate }}</p>

    <p>{{ 'cookie.p2' | translate }}</p>

    <p><b>{{ 'cookie.subt1' | translate }}</b></p>
    <p>{{ 'cookie.p3' | translate }}</p>

    <p>{{ 'cookie.p4' | translate }}</p>

    <p>{{ 'cookie.p5' | translate }}</p>

    <p>{{ 'cookie.p6' | translate }}</p>

    <p>{{ 'cookie.p7' | translate }}</p>

    <p><b>{{ 'cookie.subt2' | translate }}</b></p>
    <p>{{ 'cookie.p8' | translate }}</p>

    <p><b>{{ 'cookie.subt3' | translate }}</b></p>
    <p>{{ 'cookie.p9' | translate }}</p>

    <p><b>{{ 'cookie.subt4' | translate }}</b></p>
    <p>{{ 'cookie.p10' | translate }}</p>

    <p><b>{{ 'cookie.subt5' | translate }}</b></p>
    <p>{{ 'cookie.p11' | translate }}</p>
    <ul>
        <li>
            <p>{{ 'cookie.l1_i1' | translate }}</p>
        </li>
        <li>
            <p>{{ 'cookie.l1_i2' | translate }}</p>
        </li>
        <li>
            <p>{{ 'cookie.l1_i3' | translate }}</p>
        </li>
        <li>
            <p>{{ 'cookie.l1_i4' | translate }}</p>
        </li>
    </ul>

    <p><b>{{ 'cookie.subt6' | translate }}</b></p>
    <p>{{ 'cookie.p12' | translate }}</p>

    <p><b>{{ 'cookie.subt7' | translate }}</b></p>
    <p>{{ 'cookie.p13' | translate }}</p>

    <p><b>{{ 'cookie.subt8' | translate }}</b></p>
    <p>{{ 'cookie.p14' | translate }}</p>

    <p><b>{{ 'cookie.subt9' | translate }}</b></p>
    <p>
        {{ 'cookie.p15' | translate }}
    </p>

    <p><b>{{ 'cookie.subt10' | translate }}</b></p>
    <p>{{ 'cookie.p16' | translate }}</p>

    <p><b>{{ 'cookie.subt11' | translate }}</b></p>
    <p>{{ 'cookie.p17' | translate }}</p>

    <p>{{ 'cookie.p18' | translate }}</p>

    <p><b>{{ 'cookie.subt12' | translate }}</b></p>
    <p>{{ 'cookie.p19' | translate }}</p>

    <p>
        {{ 'cookie.p20' | translate }}
    </p>

    <p>{{ 'cookie.p21' | translate }}</p>

    <p><b>{{ 'cookie.subt13' | translate }}</b></p>
    <p>{{ 'cookie.p22' | translate }}</p>

    <p>{{ 'cookie.p23' | translate }}</p>

    <p><b>{{ 'cookie.subt14' | translate }}</b></p>
    <p>{{ 'cookie.p24' | translate }}</p>
    <ul>
        <li>
            <p>{{ 'cookie.l2_i1' | translate }}</p>
        </li>
        <li>
            <p>{{ 'cookie.l2_i2' | translate }}</p>
        <li>
            <p>{{ 'cookie.l2_i3' | translate }}</p>
        </li>

        <li>
            <p>{{ 'cookie.l2_i4' | translate }}</p>
        </li>
    </ul>
    <p><b>{{ 'cookie.subt15' | translate }}</b></p>
    <p>{{ 'cookie.p25' | translate }}
    </p>

    <p>{{ 'cookie.p26' | translate }}</p>

    <p>{{ 'cookie.p27' | translate }}</p>

    <p>{{ 'cookie.p28' | translate }}</p>

</div>