<app-general-info></app-general-info>
<div class="container">
    <h1 class="title"><b>{{ 'safety.title' | translate }}</b></h1>
    <div class="about">
        <div>
            <p>{{ 'safety.step1' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step1.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p> {{ 'safety.step2' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step2.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p> {{ 'safety.step3' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step3.1' | translate }}</p>
                </li>
                <li>
                    <p>{{ 'safety.step3.2' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p> {{ 'safety.step4' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step4.1' | translate }}</p>
                </li>
                <li>
                    <p>{{ 'safety.step4.2' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step5' | translate }}</p>

            <ul>
                <li>
                    <p>{{ 'safety.step5.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step6' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step6.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step7' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step7.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step8' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step8.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step9' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step9.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div>
            <p>{{ 'safety.step10' | translate }}</p>
            <ul>
                <li>
                    <p>{{ 'safety.step10.1' | translate }}</p>
                </li>
            </ul>
        </div>
        <div class="dotted-line">
            <div>
                <p> {{ 'safety.step11' | translate }}</p>
                <ul>
                    <li>
                        <p>{{ 'safety.step11.1' | translate }}</p>
                    </li>
                    <ul>
                        <li>
                            <p>{{ 'safety.step11.1.1' | translate }}</p>
                        </li>
                    </ul>
                </ul>
            </div>
            <div>
                <p>{{ 'safety.step12' | translate }}</p>
                <ul>
                    <li>
                        <p>{{ 'safety.step12.1' | translate }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="exceptional-case">
            <li>
                <p>{{ 'safety.step.exceptional' | translate }}</p>
            </li>
        </ul>
        <div>
            <p>{{ 'safety.step13' | translate }}</p>
        </div>
        <div>
            <p>{{ 'safety.step14' | translate }}</p>
        </div>
    </div>
</div>
<div class="margin-bottom-80"></div>
<app-share-card></app-share-card>
<app-donate-card></app-donate-card>