<div class="container middle">
  <div class="box box-dark">
    <h2>Informează-ți prietenii</h2>
    <div class="text">Distribuie aceste informații în social media pentru a ajuta cât mai mulți români să afle unde pot
      vota la
      alegerile prezidențiale din 2019, de ce documente au nevoie și cum pot cere înființarea de noi secții de votare în
      diaspora.
    </div>
    <div class="share-actions">
      <a href="#" socialshare="socialshare" socialshare-provider="email" socialshare-subject="subiect aici"
        socialshare-body="Îți mai aduci aminte de cozile de la vot la care am stat în 2014? http://www.votdiaspora.ro"
        class="share-cta email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="#" socialshare="socialshare" socialshare-provider="facebook" socialshare-text="Vot Diaspora"
        socialshare-url="http://www.votdiaspora.ro"
        socialshare-description="Pe 26 mai 2019 diaspora are un cuvânt de spus. Românii de pretutindeni au dreptul de a-și alege reprezentanții în Parlamentul European."
        socialshare-type="feed" socialshare-via="319583755047031" class="share-cta fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" socialshare="socialshare" socialshare-provider="twitter"
        socialshare-text="Îți mai aduci aminte de cozile de la vot la care am stat în 2014?"
        socialshare-url="http://www.votdiaspora.ro"
        socialshare-hashtags="vot,diaspora,expat,euelections2019,referendum2019,alegerieuroparlamentare2019"
        class="share-cta tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
