<div class="container middle">
  <div class="box box-dark">
    <h2>Informează-ți prietenii</h2>
    <div class="text">Distribuie aceste informații în social media pentru a ajuta cât mai mulți români să afle unde pot vota la alegerile locale din 2020, de ce documente au nevoie și alte sfaturi utile.</div>
    <div class="share-actions">
      <a href="mailto:contact@code4.ro" socialshare="socialshare" socialshare-provider="email" socialshare-subject="Informează-te pe Vot România!"
        socialshare-body="Intră pe https://votromania.ro/ și află cum poți vota la alegerile locale din septembrie 2020. Vot România este o soluție dezvoltată de Code for Romania."
        class="share-cta email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="#" socialshare="socialshare" socialshare-provider="facebook" socialshare-text="Vot Romănia"
        socialshare-url="https://votromania.ro/"
        socialshare-description="Intră pe Vot România, o soluție dezvoltată de Code for Romania, și află cum poți vota la alegerile locale din septembrie 2020."
        socialshare-type="feed" socialshare-via="319583755047031" class="share-cta fb">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" socialshare="socialshare" socialshare-provider="twitter"
        socialshare-text="Intră pe Vot România, o soluție dezvoltată de Code for Romania, și află cum poți vota la alegerile locale din septembrie 2020."
        socialshare-url="https://votromania.ro/"
        socialshare-hashtags=""
        class="share-cta tw">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
