<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
      <div class="box-dark p-4 mb-4 text-white">
        <h2>Informează-ți prietenii</h2>
        <p>Distribuie aceste informații în social media pentru a ajuta cât mai mulți români să afle unde pot vota la alegerile locale din 2020, de ce documente au nevoie și alte sfaturi utile.</p>
        <div class="share-actions">
          <a href="mailto:info@example.com?&subject=&body=Îți mai aduci aminte de cozile de la vot la care am stat în 2014? http://www.votdiaspora.ro"
            target="_blank" rel="noopener noreferrer"
            class="share-cta email">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.votdiaspora.ro" target="_blank" rel="noopener noreferrer" class="share-cta fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.votdiaspora.ro&text=Pe%2026%20mai%202019%20diaspora%20are%20un%20cuv%C3%A2nt%20de%20spus.%20Rom%C3%A2nii%20de%20pretutindeni%20au%20dreptul%20de%20a-%C8%99i%20alege%20reprezentan%C8%9Bii%20%C3%AEn%20Parlamentul%20European."
            target="_blank" rel="noopener noreferrer"
            class="share-cta tw">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

