.wrapper {
  background: #352245;
  min-height: 300px;
  display: flex;
  align-items: center;

  p {
    color: white;
    padding-top: 115px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: normal;
  }
}