.wrapper {
  background: #352245;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo{
    margin-top: 80px;
    margin-bottom: 40px;
  }

  p {
    color: white;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 80px;
  }
}