
<app-general-info></app-general-info>
<app-voters-guide></app-voters-guide>
<!-- <app-polling-station-search></app-polling-station-search> -->
<div class="coming-soon">
    <span>
        În curând aici vei găsi o hartă și un buton de căutare, care te vor ajuta să găsești secția de votare de care aparții. <br> Dacă Vot România te ajută, fă o <a href="https://code4.ro/ro/doneaza/" target="_blank">donație oricât de mică</a> pentru Code for Romania care a dezvoltat acest site complet pro bono.
    </span> 
</div>
<app-share-card></app-share-card>
<app-donate-card></app-donate-card>