<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container">
      <img class="navbar-brand cursor-pointer" src="../../assets/logo.svg" width="90" height="80" alt="Vot Romania"
        [routerLink]="['/']" />

      <div class="btn-group cursor-pointer" dropdown>
        <div id="language-select" dropdownToggle class="font-weight-bold" aria-controls="dropdown-basic">
          {{ selectedLanguage$ | async }} <i class="fas fa-chevron-down"></i>
        </div>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu small" role="menu" aria-labelledby="language-select">
          <li role="menuitem" *ngFor="let language of (availableLanguages$ | async)">
            <span class="dropdown-item" (click)="changeSelectedLanguageTo(language)">{{language}}</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>